$pragMin: 600px;
$pragMax: 1500px;

body{
    @media screen and (max-width: $pragMin){
        background-color: gray;
    }
    @media screen and (min-width: $pragMin) and (max-width: $pragMax){
        background-color: darkgray;
    }
}

@mixin elipsa($rotatie: 70deg){
    transform-box: fill-box;
    transform-origin: center;
    transform: rotate($rotatie);
}

@mixin container($latime: 800px){
    width: $latime;
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;

    @if $latime > 200{
        border: 1px solid red;
    }
    @else{
        border: 1px dashed black;
    }
}

#canvasTitlu{
    @include container();
}

#controllerSVG{
    @include container(200px);
}

#elipsaDreapta{
    @include elipsa();
}

#elipsaStanga{
    @include elipsa(110deg);
}

#button{
    width: 190px;
    height: 71px;
    background: url("/imagini/buton.png");    
}

#button:hover{
    background-position: 558px 0px;
}
